<h1>Listing games</h1>

<form action="" method="get">
  <h4>Consoles</h4>
  <input type="checkbox" name="consoles[]" value="3ds" id="c_3ds">
  <label for="c_3ds">3DS</label>
  <input type="checkbox" name="consoles[]" value="pc" id="c_pc">
  <label for="c_pc">PC</label>
  <input type="checkbox" name="consoles[]" value="ps4" id="c_ps4">
  <label for="c_ps4">PS4</label>
  <input type="checkbox" name="consoles[]" value="vita" id="c_vita">
  <label for="c_vita">Vita</label>
  <input type="checkbox" name="consoles[]" value="wii-u" id="c_wii_u">
  <label for="c_wii_u">Wii U</label>
  <input type="checkbox" name="consoles[]" value="xboxone" id="c_xbox_one">
  <label for="c_xbox_one">Xbox One</label>
  <br />
  <h4>Regions</h4>
  <input type="checkbox" name="regions[]" value="North America" id="r_north_america">
  <label for="r_north_america">North America</label>
  <input type="checkbox" name="regions[]" value="Japan" id="r_japan">
  <label for="r_japan">Japan</label>
  <input type="checkbox" name="regions[]" value="Europe" id="r_europe">
  <label for="r_europe">Europe</label>
  <input type="checkbox" name="regions[]" value="Australia" id="r_australia">
  <label for="r_australia">Australia</label>
  <br />
  <input type="submit" value="Reload">
</form>

<table>
  <thead>
    <tr>
      <th>Boxart</th>
      <th>Console</th>
      <th>Name</th>
      <th>Release date</th>
      <th>Region</th>
      <th>Tags</th>
    </tr>
  </thead>

  <tbody>
    <% @games.each do |game| %>
      <tr>
        <td><%= image_tag game.boxart %></td>
        <td><%= game.console %></td>
        <td><%= game.name %></td>
        <td><%= game.release_date %></td>
        <td><%= game.region %></td>
        <td><%= game.tags %></td>
      </tr>
    <% end %>
  </tbody>
</table>
